<% include partials/head %> 
<body>


<h1 class = "first">STUDY BUDDY</h1>
<p class = "first">Made for students, by students. We want to make studying fun and give you the tools to succeed.  <br/>Track your class schedule, attended classes, weekly statistics, friends, and friends classes.</p>

<div id="login_frame">

        <p class = "second">Log in with your UWO email, and your Study Buddy password. </p>
        <p class = "second"> If you are registering for the first time, choose a memorable and secure password.
        Upon clicking "register", the page will refresh and your account will have been created.
        Then, you will be able to log in. </p>
    <div id="login">
        <% if (message) { %>
          <div class="alert-danger"><%= message %></div>
        <% } %>
        <form action="/login" method="post">
            <p class = "form-group">
                <label>Email</label><input type="text" class="form-control" name="email" />@uwo.ca</p>
            <p class = "form-group"><label>Password<input type="password" class="form-control" name="password" /><br/>
            </div>

            <div id="login_control">
                <input type="submit" class="form-control" value="Sign-in" style="margin-left: 135px; margin-right: 250px; margin-top: 15px;"/>
            </div>
            </form>
    </div>

<span> New here? <a href="/signup"> Signup </a></span>

<div id="pic">
    <image src="studybuddylight.png" width="10%" height="auto" margin="auto"/>
</div>

</body>
</html>