<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"><div class="form-group">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" class="form-control" formControlName="email"> uwo.ca
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" formControlName="password">
  </div>

  <button type="submit"
          [disabled]="!loginForm.valid">Login</button>
</div></form>
